$color-light-gray: #F2F2F2;
$color-green: #75BF06;
$color-yellow: #F2CB07;
$color-red: #F20505;
$color-gray: #747474;
$color-blue: #297ADD;
$color-dark: #141514;
$color-white: #FFFFFF;

$nav-bg: $color-light-gray;
$link-color: $color-gray;
$link-hover: $color-yellow;
$dropdown-bg: $color-light-gray;
$dropdown-hover-bg: $color-light-gray;
$dropdown-hover-text: $color-yellow;